{% extends "aloldalak/admin/admin_base.html" %}
{% block content %}

<div class="admin_peopleadd_div">
    Felhasználók:
    {% for i in name_in_user_tb %}
        <button onclick="ember('{{i[0]}}')" style="background-color: rgba(240, 248, 255, 0); color:white; font-size: large;">{{i[0]}}</button>
    {% endfor %}
<form action="/add_stat" method="post">
    <textarea placeholder="felhasználóneve" type="text" name="username" class="admin_input" id="inp"></textarea><br>
    <label for="days">Hány napot tartózkodik itt a vendég? pl.:3</label>
    <textarea placeholder="" type="number" name="days" class="admin_input" id=""></textarea><br>
    <textarea placeholder="" type="text" name="date" class="admin_input" id="datebe"></textarea><br>
    <input type="submit" value="Közzététel" class="btn">
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div>
        {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
</div>

<script>

    const kitoltes = "."
    const now = new Date();

    const year = now.getFullYear();    // Év
    const month = now.getMonth() + 1;  // Hónap (0-indexelt, ezért hozzáadunk 1-et)
    const day = now.getDate();         // Nap

    const hours = now.getHours();      // Óra
    const minutes = now.getMinutes();  // Perc
    const seconds = now.getSeconds();  // Másodperc

    console.log(`Dátum: ${year}-${month}-${day}`);
    datebe = document.getElementById("datebe").innerHTML = year + kitoltes + month + kitoltes + day ;

    
    
    function ember(name){
        inp = document.getElementById("inp").innerText=name
    }
    

</script>

{% endblock %}