{% extends "aloldalak/admin/admin_base.html" %}
{% block title %}Információk{% endblock %}

{% block content %}
    <div class="hu">
        <div class="elh">Információ Hőgyészről</div>
        <!--<div class="container">
            <div class="app-container">
                <div class="headings-container">
                    <h1>Text to Speech Converter</h1>
                    <h3>Enter Text and Convert into Speech</h3>
                </div>
    
                <div class="interaction-container">
                    <textarea id="textToConvert" 
                        placeholder="Enter text to convert into speech..." 
                        id="" cols="35" rows="10" 
                        class="text-control"></textarea>
    
                    <p class="error-para"></p>
    
                    <button class="btn" id="convertBtn">
                        Play Converted Sound
                    </button>
                </div>
            </div>
        </div>-->
        <div class="tajekoztato">
            <form action="/hogyesz_info" method="post">
                <textarea name="info_hogyesz" id="" class="textarea_info">{{ info_hogyesz}}</textarea>
                <input type="submit", value="Mentés" class="admin_button">
            </form>
            <form action="/hogyesz_info_insert" method="post">
                <input type="submit", value="Eredeti szöveg mentése." class="admin_button">

            </form>
        </div>
    </div>

    <div class="en">
        <div class="elh"> Information on Hőgyész </div>
        <div class="tajekoztato">
            Hőgyész in the southern part of Tolnai-Mountain in the Donát River- in the valley of the stream, beautiful
            natural.
            lies in the environment.
            <dd> </dd> Mór Wosinsky, an excellent researcher of ancient life, shows that the area is in the Stone Age
            and the Bronze Age
            he was also inhabited.
            <dd> In SZD X, Duke, who was the grandson of Prince Árpád, owned in the current village of Tevel, our
                ancestors
                Hermelin was taxed with fur.The lady was called hunters as ladies, which formed the name of the village:
                Hőgyész. </dd>
            <ddd> Founder of the modern Hőgyész: gr.Claudius Florimudus Mercy played a role in the expulsion of the
                Turks.</dd> Mercyek three generations for 50 years </dd>
                He played a major role in the settlement and the Germans.In their time, the castle and the manor
                buildings were built and the Chapel of Csicsó was built at that time.
                They made Hőgyzszős a market town, the establishment of Linnia Fabrika was nationally renowned.
                <dd> In 1773 the Mercy family sold the estate to the Apponyians, whose 6 generations had the area for
                    150 years. </dd>
                Enlightened family schools / elementary school, Latin school, music school./ operated, hospitalized, and
                gave the village a temple.
                <dd> In the settlement, four peoples/ Hungarians, Germans, Szeklers, Gypsies/ preserve their traditions
                    together. </dd>
                The small town character of the settlement is based on the buildings and squares built by the countries,
                which are decorated with the works of excellent artists.
                The beautiful environment, the natural and built attractions are a serious tourist attraction.
                In addition to the pilgrimage of Csicsó, hiking trails offer roaming.
                Four sunflower accommodations offer carefree Relaxation.
        </div>
    </div>
    <div class="de">
        <div class="elh">Informationen über Hőgyész</div>
        <div class="tajekoztato">
            Hőgyész im Tal des Baches Donát, der entlang des Flusses Kapos im südlichen Teil von Tolnai-Hegyhát fließt, wunderschön
            natürlich.
            befindet sich in der Umgebung.
            <dd></dd> Archäologische Funde, die von Mór Wosinsky, einem hervorragenden Forscher des antiken Lebens, entdeckt wurden, beweisen, dass die
            Gebiet in der Steinzeit und der Bronzezeit
            war auch bewohnt.
            <dd>Im 10. Jahrhundert an Herzog Tevel, den Enkel des Fürsten Árpád, auf dem Gebiet des heutigen Tevel-Dorfes
                im Besitz </dd> unserer Vorfahren
            Sie zollten ihm Tribut mit Hermelinpelz. Die Jägerinnen der Wieseldame wurden Jägerinnen genannt, und so entstand das Dorf
            Name: HőGÉSZ.</dd>
            <dd>Begründer des modernen Hőgyész: gr. Claudius Florimudus Mercy spielte eine Rolle bei der Vertreibung der Türken. </dd>
            Drei Generationen von Mercys seit 50 Jahren</dd>
            lebte in der Siedlung und spielte eine wichtige Rolle bei der Ansiedlung der Deutschen. In ihrer Zeit entstanden das Schloss und das Herrenhaus
            Die meisten Gebäude und die Kapelle in Csicso wurden damals gebaut.
            Sie verwandelten Hőgyés in eine Feldstadt und die Gründung der Linnia-Fabrik erlangte landesweite Berühmtheit.
            <dd>Im Jahr 1773 verkaufte die Familie Mercy das Anwesen an die Apponys, deren 6 Generationen das Anwesen 150 Jahre lang besaßen.
                Bereich.</dd>
            Die aufgeklärte Familie eröffnete Schulen/Grundschule, Lateinschule, Musikschule. / betrieben, vom Krankenhaus gebaut,
            schenkte dem Dorf eine Kirche.
            <dd>In der Siedlung werden vier ethnische Gruppen (Ungarn, Deutsche, Szekler, Zigeuner) gemeinsam bewacht
                ihre Traditionen.</dd>
            Der kleinstädtische Charakter der Siedlung wird durch die von den Grafen, die hervorragende Künstler sind, errichteten Gebäude und Plätze verliehen
            werden von seinen Kreationen geschmückt.
            Die wunderschöne Umgebung sowie die natürlichen und gebauten Sehenswürdigkeiten sind eine echte Touristenattraktion.
            Neben der Cicsó-Pilgerfahrt bieten Wanderwege die Möglichkeit zum Wandern.
            Vier Sonnenblumenunterkünfte bieten unbeschwerte Entspannung.
        </div>
    </div>

</body>

</html>

<script>
    const text = "hello"
    const convertBtn = document.getElementById("convertBtn");

    convertBtn.addEventListener('click', function () {
        const speechSynth = window.speechSynthesis;
        const enteredText = text;
        const error = document.querySelector('.error-para');

        if (!speechSynth.speaking &&
            !enteredText.trim().length) {
            error.textContent = `Nothing to Convert! 
            Enter text in the text area.`
        }
        
        if (!speechSynth.speaking && enteredText.trim().length) {
            error.textContent = "";
            const newUtter =
                new SpeechSynthesisUtterance(enteredText);
            speechSynth.speak(newUtter);
            convertBtn.textContent = "Sound is Playing..."
        }
        
        setTimeout(() => {
            convertBtn.textContent = "Play Converted Sound"
        }, 5000);
    });

</script>
{% endblock %}