{% extends "aloldalak/imagepage/imagepage_base.html" %}
{% block title %}Szobák{% endblock %}
{% block content %}
    <div class="imgs">
        <img src="../../../static/images/szoba4.jpg" alt="" width="500" class="aa">
        <img src="../../../static/images/szoba3.jpg" alt="" width="500" class="aa">
        <img src="../../../static/images/szoba1.jpg" alt="" width="500" class="ff">
        <img src="../../../static/images/szoba2.jpg" alt="" width="500" class="ff">
    </div>
</body>


</html>
{% endblock %}