{% extends "aloldalak/imagepage/imagepage_base.html" %}
{% block title %}Udvar{% endblock %}
{% block content %}
    <div class="imgs">
        <img src="../../../static/images/udvar2.jpg" alt="" width="500" class="aak">
        <img src="../../../static/images/udvar3.jpg" alt="" width="500" class="aak">
        <img src="../../../static/images/udvar1.jpg" alt="" width="500" class="ff">
        <img src="../../../static/images/udvar4.jpg" alt="" width="500" class="ff">
        <img src="../../../static/images/udvar5.jpg" alt="" width="500" class="ff">
        <img src="../../../static/images/udvar6.jpg" alt="" width="500" class="ff">
    </div>
</body>


</html>
{% endblock %}