{% extends "aloldalak/base.html" %}
{% block title %}Kikapcsolódási lehetőségek{% endblock %}
{% block content %}
    <div class="hu">
        <div class="elh">Kikapcsolódási lehetőségek: </div>
        <div class="tajekoztato">
            <ul style="font-size: medium;" class="ulll">
                <li class="liii"><a href="https://fishingtime.hu/horgaszvizek/m17-tolna-megyei-horgaszvizek">Horgászat</a></li>
                <li class="liii"><a href="https://omvk-tolna.hu/">Vadászat</a></li>
                <li class="liii"><a href="https://www.holkerekparozzak.hu/kerekpartura-terkepes-turaajanlatok/kerekparturak-aszfalton/tolna-megye">Kerékpározás</a></li>
                <li class="liii"><a href="https://kirandulastippek.hu/tolna">Kirándulás</a></li>
                <li class="liii"><a href="https://geocaching.hu/caches.geo?ob=tavolsag&od=n&egylapon=20&lat_h=46&lat_m=30.441&long_h=18&long_m=24.092">Közeli geocaching ládák</a></li>
                <li class="liii"><a href="/kikapcsolodasi_lehetosegek/motorozas">Motorozás</a></li>
                <li class="liii"><a href="/sport">Sportolási lehetőségek a vendégházban</a></li>
            </ul>
        </div>
    </div>
    <div class="en">
        <div class="elh">recreation opportunities: </div>
        <div class="tajekoztato">
            <ul style="font-size: medium;" class="ulll">
                <li class="liii"><a href="https://fishingtime.hu/horgaszvizek/m17-tolna-megyei-horgaszvizek">Fishing</a></li>
                <li class="liii"><a href="https://omvk-tolna.hu/">Hunting</a></li>
                <li class="liii"><a href="https://www.holkerekparozzak.hu/kerekpartura-terkepes-turaajanlatok/kerekparturak-aszfalton/tolna-megye">Cycling</a></li>
                <li class="liii"><a href="https://kirandulastippek.hu/tolna">Trip</a></li>
                <li class="liii"><a href="https://geocaching.hu/caches.geo?ob=tavolsag&od=n&egylapon=20&lat_h=46&lat_m=30.441&long_h=18&long_m=24.092">Close geocaching chests</a></li>
                <li class="liii"><a href="/kikapcsolodasi_lehetosegek/motorozas">motorcycling</a></li>
            </ul>
        </div>
    </div>
    <div class="de">
        <div class="elh">Freizeitmöglichkeiten: </div>
        <div class="tajekoztato">
            <ul style="font-size: medium;" class="ulll">
                <li class="liii"><a href="https://fishingtime.hu/horgaszvizek/m17-tolna-megyei-horgaszvizek">Angeln</a></li>
                <li class="liii"><a href="https://omvk-tolna.hu/">Jagd</a></li>
                <li class="liii"><a href="https://www.holkerekparozzak.hu/kerekpartura-terkepes-turaajanlatok/kerekparturak-aszfalton/tolna-megye">Radfahren</a></li>
                <li class="liii"><a href="https://kirandulastippek.hu/tolna">Reise</a></li>
                <li class="liii"><a href="https://geocaching.hu/caches.geo?ob=tavolsag&od=n&egylapon=20&lat_h=46&lat_m=30.441&long_h=18&long_m=24.092">Close geocaching chests</a></li>
                <li class="liii"><a href="/kikapcsolodasi_lehetosegek/motorozas">Motorrad fahren</a></li>
            </ul>
        </div>
    </div>
</body>

</html>
{% endblock %}