{% extends 'aloldalak/base.html' %}
{% block title %}Sport{% endblock %}
{% block content %}

    <div class="hu">
        <div class="elh">Kikapcsolódási lehetőségek: </div>
        <div class="tajekoztato">
            <ul class="ulll">
                <li class="liii">PingPong</li>
                <li class="liii">Tenis</li>
            </ul>
        </div>
    </div>
    <div class="en">
        <div class="elh">Recreational options:</div>
        <div class="tajekoztato">
            <ul class="ulll">
                <li class="liii">PingPong</li>
                <li class="liii">Tenis</li>
            </ul>
        </div>
    </div>
    <div class="de">
        <div class="elh">Freizeitmöglichkeiten: </div>
        <div class="tajekoztato">
            <ul class="ulll">
                <li class="liii">PingPong</li>
                <li class="liii">Tenis</li>
            </ul>
        </div>
    </div>

</body>

</html>
{% endblock %}