.navbar{
    background-color: gray;
    width: 200px;
    height: fit-content;
    padding-bottom: 10px;
    border-bottom-right-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.logout{
    color: black;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.li{
    text-decoration: none;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}



h1 {
    color: #333;
}

form {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.col-sm-3{
    border-radius: 10px;
    border: 10px rgba(29, 164, 121, 0.281);
    border-style: solid;
    text-align: justify;
    justify-content: center;
    padding-right: 10px;
    padding-top: 2px;
}
a{
    color: black;
    text-decoration: none;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    border-color: #333;
    border-style: solid;
    border: 3px;
}
.nagy_szoveg{
    width: 1800px;
    text-align: justify;
    display: block;
    justify-content: center;
}
.row{
    padding: 10px;
    justify-content: space-around;
    display: flex;
}
small{
    font-size: small;
}

.login{
    width: 300px;
    text-align: center;
    justify-content: center;
    border-radius: 100px;
    border: 4px black;
}