{% extends 'aloldalak/user/base.html' %}
{% block title %}Elérhetőségek{% endblock %}
{% block content %}

 
<div class="minden">
    <div class="stat">
        <p>Eddig eltöltött napok a vendégházban: {{ days[0][0] }}</p>
        <p>Legutóbbi tartózkodásának időpontja: {{ date[0][0] }}</p>
    </div>
    <space style="width: 20px;"></space>
    <div class="chat ">
        <ul>
            {% for minden in in_one%}
                {{minden[0]}}<br>
            {% endfor %}
            
            
        </ul>
        <form action="/send_message" method="post"><center class="user_form lent"><input type="text" placeholder="Üzenet" name="message"> <button class="admin_button">Küldés</button></center></form>
    </div>
</div>


{% endblock %}