{% extends 'aloldalak/user/base.html' %}
{% block title %}Kezelőpult{% endblock %}
{% block content %}

 
<div class="minden">
    <div class="stat">
        <p>Eddig eltöltött napok a vendégházban: {{ days[0][0] }}</p>
        <p>Legutóbbi tartózkodásának időpontja: {{ date[0][0] }}</p>
    </div>
    <space style="width: 20px;"></space>

    <div class="chat" id="chat-box">
        <center><h1>Beszélgetés</h1></center>
        <ul>
            {% for minden in in_one%}
                {{minden[0]}}<br>
            {% endfor %}
            
            
        </ul>
        <form action="/send_message" method="post"><center class="user_form lent"><input type="text" placeholder="Üzenet" name="message"> <button class="admin_button">Küldés</button></center></form>
    </div>
</div>


<script>
    /*// Function to reload the chat content
    function reloadChat() {
        fetch('/get_messages')  // Call the Flask route to get messages
            .then(response => response.json())
            .then(data => {
                document.getElementById('chat-box').innerHTML = data; // Update the chat-box div
            });
    }

    // Set an interval to reload the chat content every 10 seconds
    setInterval(reloadChat, 10000); // 10000 milliseconds = 10 seconds*/
</script>

{% endblock %}